h1{
    background-color: darkseagreen;
}
h2{
    background-color: chocolate;
}
h3{
    background-color: rgb(173, 255, 47);
}
#Headings {    
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#About-Section {
    background-color: rgb(255, 123, 0);
}
#Products-Tab{
    background-color: rgb(173, 255, 47);
}
#Uh-Oh{
    text-align: center;
}